@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Roboto+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

.btn {
  background-color: #005ca4;
  cursor: pointer;
  padding: 10px 25px;
  color: white;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn:hover {
  background-color: #034077;
}

body {
  background: #333;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button, select {
  outline: none;
}

body.light {
  background: #e4e5f1;
  color: #111;
}

body.light .nav {
  background-color: rgba(255, 255, 255, 0.7) !important;
}

body.light .nav select {
  background-color: #d2d3db !important;
  color: black !important;
}

body.light .nav select option {
  background-color: #d2d3db !important;
  color: black !important;
}

body.light input {
  background: #d2d3db;
  color: #111;
}

body.light input:focus {
  background-color: #fafafa;
}

body.light #total {
  background-color: #9394a5 !important;
}

body.light table button {
  background-color: #9394a5 !important;
}

body.dark-blue {
  background: #11003a;
  color: #bffffa;
}

body.dark-blue .nav {
  background-color: rgba(16, 6, 44, 0.7) !important;
}

body.dark-blue .nav select {
  background-color: #bffffa !important;
  color: black !important;
}

body.dark-blue .nav select option {
  background-color: #bffffa !important;
  color: black !important;
}

body.dark-blue input {
  background: #070027;
  color: #bffffa;
}

body.dark-blue input:focus {
  background-color: #04001b;
}

body.dark-blue #total {
  background-color: #0c1053 !important;
}

body.dark-blue table button {
  background-color: #0c1053 !important;
}

body.marvel {
  background-color: #000;
  color: #518cca;
}

body.marvel button {
  background-color: #e23636;
}

body.marvel button:hover {
  background-color: #cb3030;
}

body.marvel .nav select {
  background-color: #e23636 !important;
}

body.marvel .nav select option {
  background-color: #e23636 !important;
}

body.marvel input {
  background: #504a4a;
  color: white;
}

body.marvel input::-webkit-input-placeholder {
  color: #fafafa;
}

body.marvel input:-ms-input-placeholder {
  color: #fafafa;
}

body.marvel input::-ms-input-placeholder {
  color: #fafafa;
}

body.marvel input::placeholder {
  color: #fafafa;
}

body.marvel input:focus {
  background-color: #4070a1;
}

.app {
  width: 80%;
  margin: auto;
  min-height: calc(100vh - 10px);
  overflow: hidden;
}

@media (max-width: 900px) {
  .app {
    width: 95%;
  }
}

.app .head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}

.app .head h2 {
  letter-spacing: 2px;
}

.app .head .nav__open {
  position: absolute;
  right: 19px;
  top: 19px;
  padding: 1px;
  cursor: pointer;
  overflow: hidden;
}

.app .head .nav {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  right: 0%;
  top: 0;
  width: 50%;
  display: none;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.9);
}

@media (max-width: 900px) {
  .app .head .nav {
    width: 100%;
  }
}

.app .head .nav__close {
  cursor: pointer;
  position: absolute;
  right: 19px;
  top: 19px;
  padding: 1px;
}

.app .head .nav__title {
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 5px;
}

.app .head .nav__content select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  height: 30px;
  margin-left: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.app .head .nav__content select option {
  background-color: #333;
  color: white;
}

.app input {
  width: 100%;
  height: 35px;
  padding: 4px;
  margin: 4px 0;
  outline: none;
  border: none;
  background-color: #222;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}

.app input:focus {
  background-color: #111;
}

@media (min-width: 700px) {
  .app .inputs .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 700px) {
  .app .inputs .price input {
    width: 20%;
    margin: 0 5px 0 0;
  }
}

.app .inputs .price #total {
  height: 34px;
  padding: 4px;
  background-color: #555;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app .inputs .price #total::before {
  content: 'Total: \00a0';
}

.app .outputs .search-block .search-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.app .outputs .table-box {
  width: 100%;
}

@media (max-width: 900px) {
  .app .outputs .table-box {
    font-size: small;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.app .outputs table {
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.app .outputs table th {
  text-transform: uppercase;
}

.app .outputs table th, .app .outputs table td {
  padding: 5px;
}

.app .outputs table button {
  letter-spacing: 0;
  padding: 5px 0;
  background-color: #222;
}
/*# sourceMappingURL=style.css.map */