//fonts
$main-font: 'Montserrat', sans-serif;
$alt-font: 'Roboto Mono', monospace;
//DEFAULT COLORS
$main-color: #005ca4;
$main-color-alt: #034077;
$body-bg: #333;
//---
$main-transition: .3s;


$body-light-bg: #e4e5f1;
//dark-blue
$body-darkblue-bg: #11003a;


//marvel-blue
$body-marvel-bg: #000;
$marvel-main-color: #e23636;
$marvel-main-alt-color: #cb3030;